<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- 1. Avisa o IIS que o server.js é do Node.js -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- 2. Pega todo o tráfego do site e redireciona para o Next.js -->
    <rewrite>
      <rules>
        <rule name="NextJSRouting">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- 3. Configurações de Execução -->
    <iisnode node_env="production" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

    <!-- 4. Deixa o Next.js gerenciar os próprios erros (como as telas 404 dele) -->
    <httpErrors existingResponse="PassThrough" />
    
  </system.webServer>
</configuration>